<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/vendors/simple-line-icons/css/simple-line-icons.css}">
    <link rel="stylesheet" th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{/vendors/daterangepicker/daterangepicker.css}">
    <link rel="stylesheet" th:href="@{/vendors/chartist/chartist.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Health Table</h4>
            <a th:href="@{/health/insert2}">Insert</a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th type="hidden"></th>
                    <th>ID</th>
                    <th>A_id</th>
                    <th>U_id</th>
                    <th>Health_info</th>
                    <th>Date</th>
                    <th>Remarks</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>

                    <tr th:each="health:${healths}">
                        <form action="/health/update">
                            <th><input style="background-color:transparent;border:0;" type="hidden" name="old_id" th:value="${health.getId()}"></th>
                            <th><input style="background-color:transparent;border:0;" type="number"  name="id" th:value="${health.getId()}"></th>
                            <th><input style="background-color:transparent;border:0;" type="number"  name="a_id" th:value="${health.getA_id()}"></th>
                            <th><input style="background-color:transparent;border:0;" type="number"  name="u_id" th:value="${health.getU_id()}"></th>
                            <th><input style="background-color:transparent;border:0;" type="text" name="health_info" th:value="${health.getHealth_info()}"></th>
                            <th><input style="background-color:transparent;border:0;" type="text" name="date" th:value="${health.getDate()}"></th>
                            <th><input style="background-color:transparent;border:0;" type="text" name="remarks" th:value="${health.getRemarks()}"></th>
                            <th><input type="submit" class="btn btn-primary" value="Update"> </th>
                            <th><a th:href="'/health/delete?id='+${health.getId()}">delete</a></th>
                        </form>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>