<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/vendors/simple-line-icons/css/simple-line-icons.css}">
    <link rel="stylesheet" th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{/vendors/daterangepicker/daterangepicker.css}">
    <link rel="stylesheet" th:href="@{/vendors/chartist/chartist.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hospice Table</h4>
            <a th:href="@{/hospice/insert2}">Insert</a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th type="hidden"></th>
                    <th> ID</th>
                    <th> Name</th>
                    <th> Address</th>
                    <th> Postcode</th>
                    <th> Total_room_number</th>
                    <th> Spare_room_number</th>
                    <th> Remarks</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="shelter:${shelters}">
                        <form action="/hospice/update">
                        <th><input type="hidden" name="old_id" th:value="${hospice.getId()}"></th>
                        <th><input style="background-color:transparent;border:0;" name="id" th:value="${hospice.getId()}"></th>
                        <th><input style="background-color:transparent;border:0;" name="name" th:value="${hospice.getName()}"></th>
                        <th><input style="background-color:transparent;border:0;" name="address" th:value="${hospice.getAddress()}"></th>
                        <th><input style="background-color:transparent;border:0;" name="postcode" th:value="${hospice.getZip()}"></th>
                        <th><input style="background-color:transparent;border:0;" name="total_room_number" th:value="${hospice.getTotal_room()}"></th>
                        <th><input style="background-color:transparent;border:0;" name="spare_room_number" th:value="${hospice.getRemain_room()}"></th>
                        <th><input style="background-color:transparent;border:0;" name="remarks" th:value="${hospice.getNote()}"></th>
                        <th><input type="submit" class="btn btn-primary" value="Update"> </th>
                        <th><a th:href="'/hospice/delete?id='+${hospice.getId()}">delete</a></th>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>