<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/vendors/simple-line-icons/css/simple-line-icons.css}">
    <link rel="stylesheet" th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{/vendors/daterangepicker/daterangepicker.css}">
    <link rel="stylesheet" th:href="@{/vendors/chartist/chartist.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Animal Table</h4>
            <a th:href="@{/animal/insert2}">Insert</a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th type="hidden"></th>
                    <th>ID</th>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Species</th>
                    <th>Sex</th>
                    <th>Age</th>
                    <th>Image</th>
                    <th>H_id</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="animal:${animals}">
                        <form action="/animal/update">
                            <td><input type="hidden" name="old_id" th:value="${animal.getId()}"></td>
                            <td><input style="background-color:transparent;border:0;" name="id" th:value="${animal.getId()}"></td>
                            <td><input style="background-color:transparent;border:0;" name="number" th:value="${animal.getNumber()}"></td>
                            <td><input style="background-color:transparent;border:0;" name="name" th:value="${animal.getName()}"></td>
                            <td><input style="background-color:transparent;border:0;" name="species" th:value="${animal.getSpecies()}"></td>
                            <td><input style="background-color:transparent;border:0;" name="sex" th:value="${animal.getSex()}"></td>
                            <td><input style="background-color:transparent;border:0;" name="age" th:value="${animal.getAge()}"></td>
                            <td><input style="background-color:transparent;border:0;" name="image" th:value="${animal.getImage()}"></td>
                            <td><input style="background-color:transparent;border:0;" name="h_id" th:value="${animal.getH_id()}"></td>
                            <td><input type="submit" class="btn btn-primary" value="Update"> </td>
                            <td><a th:href="'/animal/delete?id='+${animal.getId()}">delete</a></td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>